language: python
sudo: required
services:
  - docker
env:
  - CODALAB_USERNAME=codalab CODALAB_PASSWORD=testpassword
python:
  - "2.7"
before_install:
  - docker --version
install:
  - "pip install sqlalchemy"
#   add packages required by tests (mock and nose are on Travis VM by default)
  - "pip install pyyaml psutil"
  - sudo apt-get update
  - sudo apt-get install -y sshpass python-virtualenv
  - sudo apt-get install -y libmysqlclient-dev
  - ./setup.sh server
  - ./venv/bin/pip install --upgrade setuptools
  - ./venv/bin/pip install --upgrade pip
script:
  - mysql -e "CREATE DATABASE codalab_bundles;"
  - ./codalab/bin/cl config server/engine_url mysql://root@localhost:3306/codalab_bundles
  - ./codalab/bin/cl config cli/default_address http://localhost:2900
  - ./codalab/bin/cl config workers/default_docker_image ubuntu:14.04
  - ./scripts/create-root-user.py $CODALAB_PASSWORD
  - ./codalab/bin/cl server &
  - ./codalab/bin/cl bundle-manager &
  - printf "$CODALAB_USERNAME\n$CODALAB_PASSWORD\n" > /home/travis/.codalab/root.password
  - chmod 600 /home/travis/.codalab/root.password
  - sleep 15
  - (source ./venv/bin/activate && ./worker/codalabworker/worker.sh --server http://127.0.0.1:2900 --work-dir /home/travis/.codalab/worker-scratch --slots 4 --password-file /home/travis/.codalab/root.password --verbose &)
  - printf "$CODALAB_USERNAME\n$CODALAB_PASSWORD\n" | sshpass -p "" ./codalab/bin/cl work
  - ./codalab/bin/cl upload -c stuff
  - printf "$CODALAB_USERNAME\n$CODALAB_PASSWORD\n" | sshpass -p "" ./codalab/bin/cl rm ^
  - ./venv/bin/python test-cli.py default
