jobs:
  include:
    - stage: check
      language: python
      python: 3.6
      install: pip install --upgrade black==18.9b0
      script: black . --check --diff
    - stage: check
      language: node_js
      node_js:
        - 13
      install: cd frontend && npm install
      script:
        - npm run check-ci
    - stage: check
      language: python
      sudo: required
      services:
        - docker
      env:
        - CODALAB_USERNAME=codalab CODALAB_PASSWORD=codalab CI=true
      python: 3.6
      before_install:
        - sudo rm /usr/local/bin/docker-compose
        - curl -L https://github.com/docker/compose/releases/download/1.23.2/docker-compose-`uname -s`-`uname -m` > docker-compose
        - chmod +x docker-compose
        - sudo mv docker-compose /usr/local/bin
        - sudo service mysql stop
      install:
        - python3 codalab_service.py build services --version ${TRAVIS_BRANCH} --pull $([ -z "${CODALAB_DOCKER_USERNAME}" ] || [ "$TRAVIS_PULL_REQUEST_BRANCH" != "" ] || echo "--push")
        - python3 codalab_service.py start --services default monitor --version ${TRAVIS_BRANCH}
        - pip install -r requirements.txt
      before_script:
        - ./scripts/test-setup.sh
        - export PATH=$PATH:/usr/bin/geckodriver
      script:
        - python3 codalab_service.py test --version ${TRAVIS_BRANCH} default
          # Make sure restarting worker doesn't cause any issues (ie in serialization/deserialization)
        - docker restart codalab_worker_1 && python3 codalab_service.py test run --version ${TRAVIS_BRANCH}
        - docker stop codalab_worker_1
        - python3 codalab_service.py start --services worker --version ${TRAVIS_BRANCH} --shared-file-system
        - python3 codalab_service.py test --version ${TRAVIS_BRANCH} --shared-file-system basic run read write kill resources netcat netcurl workers
        - python3 tests/ui/ui_tester.py --headless
    - stage: deploy
      script: echo "Deploying"
      language: python
      sudo: required
      services:
        - docker
      env:
        - CODALAB_USERNAME=codalab CODALAB_PASSWORD=codalab CI=true
      python: 3.6
      after_success: echo "skipped"
      before_deploy:
        - pip install twine
      deploy:
        # Build docker images using tag if it's a version tag (we're releasing)
        # Otherwise if we're on master or staging build named images
        - provider: script
          # Remove first char of tag (v) to get version number from tag
          script: ./scripts/travis-deploy.sh ${TRAVIS_TAG#?}
          on:
            # only build on valid semver tags
            tags: true
            condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+
        - provider: script
          # Build with branch name if not releasing
          script: ./scripts/travis-deploy.sh master
          on:
            # only build for master and staging for debugging
            branch: master
