jobs:
  include:
    - stage: functionality
      language: python
      sudo: required
      services:
        - docker
      env:
        - CODALAB_USERNAME=codalab CODALAB_PASSWORD=testpassword CI=false
      python: 2.7
      before_install:
        - docker --version
      install:
        - pip install sqlalchemy
      #   add packages required by tests (mock and nose are on Travis VM by default)
        - pip install pyyaml psutil
        - sudo apt-get update
        - sudo apt-get install -y sshpass python-virtualenv
        - sudo apt-get install -y libmysqlclient-dev
        - ./setup.sh server
        - ./venv/bin/pip install --upgrade setuptools
        - ./venv/bin/pip install --upgrade pip
      before_script:
        - mysql -e "CREATE DATABASE codalab_bundles;"
        - ./codalab/bin/cl config server/engine_url mysql://root@localhost:3306/codalab_bundles
        - ./codalab/bin/cl config cli/default_address http://localhost:2900
        - ./scripts/create-root-user.py $CODALAB_PASSWORD
        - ./codalab/bin/cl server &
        - ./codalab/bin/cl bundle-manager &
        - printf "$CODALAB_USERNAME\n$CODALAB_PASSWORD\n" > /home/travis/.codalab/root.password
        - chmod 600 /home/travis/.codalab/root.password
        - sleep 15
        - pip install ./worker
        - cl-worker --server http://127.0.0.1:2900 --work-dir /home/travis/.codalab/worker-scratch --password-file /home/travis/.codalab/root.password --verbose &
        - printf "$CODALAB_USERNAME\n$CODALAB_PASSWORD\n" | sshpass -p "" ./codalab/bin/cl work
        - ./codalab/bin/cl upload -c stuff
        - printf "$CODALAB_USERNAME\n$CODALAB_PASSWORD\n" | sshpass -p "" ./codalab/bin/cl rm ^
      script:
        - ./venv/bin/python test-cli.py default
    - stage: style
      language: python
      python: 3.6
      install: pip install --upgrade black==18.9b0
      script: black . --check
    - stage: deploy
      script: echo "Deploying"
      language: python
      sudo: required
      services:
        - docker
      env:
        - CODALAB_USERNAME=codalab CODALAB_PASSWORD=testpassword CI=false
      python: 2.7
      after_success: echo "skipped"
      before_deploy:
        - pip install twine
      deploy:
        # Build docker images using tag if it's a version tag (we're releasing)
        # Otherwise if we're on master or staging build named images
        - provider: script
          # Remove first char of tag (v) to get version number from tag
          script: ./scripts/travis_deploy.sh ${TRAVIS_TAG#?} release
          on:
            # only build on valid semver tags
            tags: true
            condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+
        - provider: script
          # Build with branch name if not releasing
          script: ./scripts/travis_deploy.sh $TRAVIS_BRANCH branch
          on:
            # only build for master and staging for debugging
            branch: master
