site_name: Codalab documentation
docs_dir: docs
theme: readthedocs

nav:
  - Examples: https://github.com/codalab/worksheets-examples
  - The CodaLab Workflow: Workflow.md
  - Executable Papers: Executable-Papers.md
  - CLI Reference: CLI-Reference.md
  - Worksheet Markdown: Worksheet-Markdown.md
  - Execution: Execution.md
  - Competitions: Competitions.md
  - Server Setup: Server-Setup.md
  - Code Overview: Code-Overview.md
  - REST API Reference: REST-API-Reference.md
  - About: About.md
  - Privacy: Privacy.md
  - Frequently Asked Questions: FAQ.md

markdown_extensions:
  - toc:
      permalink: true