# Configuration file for using Black for Codalab

[tool.black]
line-length = 100
skip-string-normalization = true
exclude = '''
/(
     venv
   | \.venv
   | \.git
   | \.ropeproject
   | alembic
   | sdist
   | dist
   | build
   | frontend
   | codalab/lib/beam/blobstoragefilesystem.py
   | codalab/lib/beam/blobstorageio.py
)/
'''
