# Installs the upcoming 2.25.0 Apache Beam release.
# TODO: Once Apache Beam 2.25.0 is released, we can replace the following with:
# apache-beam==2.25.0. We can also remove instances of
# "python3 -m pip install grpcio-tools==1.30.0 future==0.18.2 mypy-protobuf==1.18"
# in Dockerfile.worker and Dockerfile.server, which include requirements required
# for building Apache Beam from source.

https://github.com/apache/beam/archive/release-2.25.0.zip#egg=apache-beam&subdirectory=sdks/python

bottle==0.12.18
docker==4.3.0
marshmallow-jsonapi==0.15.1
marshmallow==2.15.1
setuptools>=40.0.0
argcomplete==1.12.1
PyYAML==5.3.1
psutil==5.7.2
six==1.15.0
SQLAlchemy==1.3.19
watchdog==0.10.3
fusepy==2.0.4
python-dateutil==2.8.1
diffimg==0.2.3
selenium==3.141.0
requests==2.24.0
azure-storage-blob==12.4.0
azure-core==1.8.0
sentry-sdk==0.18.0
requests-oauthlib==1.1.0
oauthlib==2.1.0
