# Client
-r requirements.txt

# For generating readthedocs
-r requirements.docs.txt

# Only for development
-r requirements.dev.txt

boto3==1.15.7

# For testing
mock==3.0.5
nose==1.3.7
webtest==2.0.35
freezegun==1.0.0
coverage==5.3

# Server-specific
alembic==1.4.3
gunicorn==20.0.4
oauthlib==2.1.0
mysqlclient==1.4.1
