// TODO: delete this




#bundle-content .bundle-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 12px;
    line-height: 1.6;
  }
  #bundle-content .bundle-header h2 {
    margin: 0;
    background-position-y: 8px;
  }
  #bundle-content .bundle-header .bundle-name {
    flex: 1;
  }
  #bundle-content .bundle-header .bundle-links .bundle-download {
    width: 52px;
    height: 45px;
    padding-top: 12px;
    margin-top: 10px;
  }
  #bundle-content .bundle-description {
    font-size: 90%;
    margin: 15px 0px 15px 0px;
  }
  #bundle-content .bundle-meta {
    margin-bottom: 30px;
  }
  #bundle-content .bundle-meta .editable {
    color: brown;
  }
  #bundle-content .bundle-meta td {
    width: 50%;
    line-height: 2;
  }
  #bundle-content h3 {
    margin-top: 20px;
  }
  #bundle-content h3 .btn {
    margin-left: 6px;
  }
  #bundle-content table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    margin-bottom: 0;
  }
  #bundle-content table > thead > tr > th,
  #bundle-content table > tbody > tr > th,
  #bundle-content table > tfoot > tr > th,
  #bundle-content table > thead > tr > td,
  #bundle-content table > tbody > tr > td,
  #bundle-content table > tfoot > tr > td {
    padding: 4px 6px;
    line-height: 1.6;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  #bundle-content table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }
  #bundle-content table > caption + thead > tr:first-child > th,
  #bundle-content table > colgroup + thead > tr:first-child > th,
  #bundle-content table > thead:first-child > tr:first-child > th,
  #bundle-content table > caption + thead > tr:first-child > td,
  #bundle-content table > colgroup + thead > tr:first-child > td,
  #bundle-content table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  #bundle-content table > tbody + tbody {
    border-top: 2px solid #ddd;
  }
  #bundle-content table .table {
    background-color: #f7f7f7;
  }
  #bundle-content table > thead > tr > th,
  #bundle-content table > tbody > tr > th,
  #bundle-content table > tfoot > tr > th,
  #bundle-content table > thead > tr > td,
  #bundle-content table > tbody > tr > td,
  #bundle-content table > tfoot > tr > td {
    border: 1px solid #ddd;
  }
  #bundle-content table > thead > tr > th,
  #bundle-content table > thead > tr > td {
    border-bottom-width: 2px;
  }
  #bundle-content table > tbody > tr:nth-child(odd) > td,
  #bundle-content table > tbody > tr:nth-child(odd) > th {
    background-color: white;
  }
  #bundle-content .state-table {
    margin-top: 12px;
  }
  @media screen and (max-width: 767px) {
    #bundle-content .state-table {
      width: 100%;
      margin-bottom: 18.75px;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
      -webkit-overflow-scrolling: touch;
    }
    #bundle-content .state-table > .table {
      margin-bottom: 0;
    }
    #bundle-content .state-table > .table > thead > tr > th,
    #bundle-content .state-table > .table > tbody > tr > th,
    #bundle-content .state-table > .table > tfoot > tr > th,
    #bundle-content .state-table > .table > thead > tr > td,
    #bundle-content .state-table > .table > tbody > tr > td,
    #bundle-content .state-table > .table > tfoot > tr > td {
      white-space: nowrap;
    }
    #bundle-content .state-table > .table-bordered {
      border: 0;
    }
    #bundle-content .state-table > .table-bordered > thead > tr > th:first-child,
    #bundle-content .state-table > .table-bordered > tbody > tr > th:first-child,
    #bundle-content .state-table > .table-bordered > tfoot > tr > th:first-child,
    #bundle-content .state-table > .table-bordered > thead > tr > td:first-child,
    #bundle-content .state-table > .table-bordered > tbody > tr > td:first-child,
    #bundle-content .state-table > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0;
    }
    #bundle-content .state-table > .table-bordered > thead > tr > th:last-child,
    #bundle-content .state-table > .table-bordered > tbody > tr > th:last-child,
    #bundle-content .state-table > .table-bordered > tfoot > tr > th:last-child,
    #bundle-content .state-table > .table-bordered > thead > tr > td:last-child,
    #bundle-content .state-table > .table-bordered > tbody > tr > td:last-child,
    #bundle-content .state-table > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0;
    }
    #bundle-content .state-table > .table-bordered > tbody > tr:last-child > th,
    #bundle-content .state-table > .table-bordered > tfoot > tr:last-child > th,
    #bundle-content .state-table > .table-bordered > tbody > tr:last-child > td,
    #bundle-content .state-table > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0;
    }
  }
  #bundle-content .state-table code {
    font-size: 80%;
    color: #666;
    background-color: transparent;
  }

  .bundle-state {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #fa963f;
  }
  a.bundle-state:hover,
  a.bundle-state:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .bundle-state:empty {
    display: none;
  }
  .btn .bundle-state {
    position: relative;
    top: -1px;
  }
  .bundle-state[href]:hover,
  .bundle-state[href]:focus {
    background-color: #f97b0d;
  }
  .bundle-state.state-ready {
    background-color: #92D053;
  }
  .bundle-state.state-ready[href]:hover,
  .bundle-state.state-ready[href]:focus {
    background-color: #79bc34;
  }
  .bundle-state.state-failed {
    background-color: #d9534f;
  }
  .bundle-state.state-failed[href]:hover,
  .bundle-state.state-failed[href]:focus {
    background-color: #c9302c;
  }