body {
    font-family: 'Roboto', 'Segoe UI', 'Segoe', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    color: #666;
    background-color: #f7f7f7;
}