version: '3'

services:
  db-initializer:
    entrypoint: ['bash', '-c', '/data/bin/wait-for-it.sh mysql:3306 -- /data/bin/initialize-db.sh && sleep infinity']
  tests:
    image: codalab/bundleserver:local-dev
    entrypoint: "/data/bin/wait-for-it.sh rest-server:2900 -- /data/bin/run-tests.sh"
    depends_on:
      - rest-server
    environment:
      - CODALAB_USERNAME=codalab
      - CODALAB_PASSWORD=TESTPASSWORD
      - CODALAB_HOME=/home/codalab
    volumes:
      - codalab_home:/home/codalab
      - ./files/run-tests.sh:/data/bin/run-tests.sh
      - ./files/wait-for-it.sh:/data/bin/wait-for-it.sh
    logging:
      driver: json-file
      options:
        mode: non-blocking
