name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      working-directory: ./frontend

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: ${{env.working-directory}} 
    - run: npm run check-ci
      working-directory: ${{env.working-directory}} 
      env:
        CI: true
        
